<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        @media screen and (max-width: 1024px){
            .button-container, .content-card{
                width:100%
            }
        }
    </style>
</head>
<body>
    <div class='content-card'>
        <header>
            <div style'width: 100%; background-color: #555; overflow: auto;'>
                <div class='container' onclick="openNav()" style='float:left'><a>&#9776;</a></div> 
                <div class='container'><a href='/vendor'><img class='icon' src='/css/images/icon.png'></a><div>
            </div>
        </header>
        <main>
            {{#if loggedin}}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/vendor/">Home</a>
                <a href="/vendor/orders">Unfulfilled Orders</a>
                <a href="/vendor/all-orders">All Orders</a>
                <a href="/vendor/setLocation">Set Location</a>
                <a href="javascript:void(0);" onclick="logout()">Logout</a>
            <form method="post" action="/vendor/logout" id="logoutform">
                <input type="hidden"/>
            </form>
            </div>
            {{else}}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/vendor/login">Log in</a>
            </div>
            {{/if}}
            {{{body}}}
        </main>
    </div>
</body>
</html>

<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    
     function logout(){
        localStorage.clear();
        // submit a hidden form with the food ids. You could use fetch to submit the data to API as well.
        document.getElementById("logoutform").submit();
    }        
</script>