
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
<body>
    <div class="top">
        <div> < </div>
        <div>
            <p>MENU</p>
            <p>Tasty Trailer</p>
        </div>
        <div>5min</div>
    </div>
    <div class="content">
        <div class="cards">
            <p>DRINKS</p>
            <ul>
                <li class="li-wrap">
                    <div class="left">
                        <p>Cappuccino</p>
                        <p>$4.99</p>
                    </div>
                    <div class="right">
                        <img src="https://images.unsplash.com/photo-1505677410329-30fb6ebc10b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fA%3D%3D&w=1000&q=80"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Latte</p>
                        <p>$4.99</p>
                    </div>
                    <div class="right">
                        <img src="https://images.unsplash.com/photo-1550247611-e651810312fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&w=1000&q=80"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Flat White </p>
                        <p>$4.99</p>
                    </div>
                    <div class="right">
                        <img src="https://images.unsplash.com/photo-1503291736778-4a8e61b11e3b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y29mZmVlJTIwYW5kJTIwZnJpZW5kc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Long Black</p>
                        <p>$4.99</p>
                    </div>
                    <div class="right">
                        <img src="http://images.unsplash.com/photo-1517789439268-317443633a0b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080"  alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="cards">
            <p>Snacks</p>
            <ul>
                <li class="li-wrap">
                    <div class="left">
                        <p>Plain Biscuit</p>
                        <p>$8.99</p>
                    </div>
                    <div class="right">
                        <img src="http://images.unsplash.com/photo-1601318907950-778691dabde7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Fancy Biscuit</p>
                        <p>$8.99</p>
                    </div>
                    <div class="right">
                        <img src="http://images.unsplash.com/photo-1496890607984-d27fca8a68ad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Small Cake</p>
                        <p>$8.99</p>
                    </div>
                    <div class="right">
                        <img src="https://images.unsplash.com/photo-1559329374-a792174e7a1e?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHw5OTQyMDU0fHxlbnwwfHx8&ixlib=rb-1.2.1&w=1000&q=80"  alt="">
                    </div>
                </li>
                <li class="li-wrap">
                    <div class="left">
                        <p>Big Cake</p>
                        <p>$8.99</p>
                    </div>
                    <div class="right">
                        <img src="https://images.unsplash.com/photo-1562440499-64c9a111f713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"  alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/fontresize.js"></script>
<script>

</script>
</body>