@import url("main.css");
* {box-sizing: border-box;}

input[type=text]{
  font-size:18px;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #f2f2f2; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

label, input[type=text], .other-button, input[type=submit] {
  font-size:20px;
}

label{
  font-weight:bold;
}
form {
  margin-top: 5%;
}
.login-form div {
  margin: 0;
}

input[type=submit] {
  text-align: center;
  background-color: #FFAD12;
  color: white;
  margin: 10px 0px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#D18E2A;
}

.other-button{
  color: #000;
  padding: 12px 20px;
  cursor: pointer;
}

@media screen and (max-width: 450px){
  label, input[type=text], .other-button, input[type=submit] {
    font-size:14px;
  }
  
  input[type=text]{
    padding: 6px; /* Some padding */ 
  }
  input[type=submit]{
    padding: 6px 10px;
  }
}