@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {font-family:  'Roboto', Arial, Helvetica, sans-serif;}
body{
  background: url("https://images.unsplash.com/photo-1570642916604-58882c9e078b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=775&q=80");
  background-size: auto;
}

.content-card {
  position: relative;
  height:fit-content; width: 900px;
  justify-content: center;
  padding: 0px;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.content-card header{
  text-align: center;
}

form{
  padding:20px;
}

header{
  padding: 3px;
  text-decoration:none;
  font-size: 24px;
  width:100%;
  margin: 5px auto;
  height: fit-content;
  background-color: #fff; 
  position: relative; 
  top: 0; left:0;
  box-shadow: 0px 5pt 5pt -5pt #000000;
}

header div div:nth-child(1){
  cursor:pointer;
  font-size: 40px;
}
header div div:nth-child(1) a{
  padding-left: 10px;
}
header div div:nth-child(2){
  width: 80%;
  text-align: center;
}

.container{
  display:inline-block;
}

.icon{
  border-radius: 10%;
    object-fit: cover;
    width: auto;
    height: 70px;
}

.icon:hover{
  width: auto;
  height: 90px;
}
.spacer{
  height:20px;
}


  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f2f2f2;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
.normal-button{
  text-align: center;
  background-color: #FFAD12;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.normal-button:hover {
  background-color:#D18E2A;
  text-decoration: none;
}

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
@media screen and (max-width: 900px){
  body,main{
    background-image: none;
  }
  .content-card {
    width:100%;
  }
}

@media screen and (max-width:450px){
  body,main{
    background-image: none;
  }
  header{
    height:70px;
  }
  header div div:nth-child(1) a{
    font-size: 25px;
    padding-left: 0px;
  }
}

.button-container{
  height:auto;
  width: 900px;
}
@media screen and (max-width:900px){
  .button-container{
    width: 100%;
  }
}