@import url("main.css");

a{
  text-decoration:none;
  color:black
}
a:hover{
  color:orange;
}
table{
  border-radius:15pt;
  background-color: #fff;
  margin: auto;
  width:80%;
  border: 1px solid gray;
}

th, td {
  padding: 15px 20px;
  text-align: center;
  font-size: x-large;
}
tr{
  box-shadow: 0px 3px 3pt -3pt #8a8a8a;
}
tr td:nth-child(1){
  text-align:left
}

tr td:nth-child(2){
  text-align:right;
  width:auto;
}

.bottip {
  height:fit-content;
  font-size:40px;
  padding:20px 0px;
  background-color:#FFAD12;
  justify-content: center;
  color:white;
  position:fixed; bottom:0; width:900px; 
  margin: auto; text-align:center;
}

.bottip:hover{
  font-size: 45px;
  color:white;
}

@media screen and (max-width:900px){
  .bottip {
    width:100%;
  }
}

@media screen and (max-width:450px){
  th, td {
    padding: 20px 0px;
    text-align: center;
    font-size: medium;
  }
}
