{{!-- <link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/index.css"> --}}

{{!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/fontresize.js"></script>

<script src="js/order.js" async></script> --}}
<body>
    <div class="top">
        
        <a href="/customer/{{van_id}}/menu/order/" class="previous">&#8249;</a>
        <div>
            <p>MENU</p>
            <p>{{van_id}}</p>
        </div>
    </div>

    <div class="products-container">
        <div class='products' id = "product">
            <ul>
                {{#each chosed_items}}
                <p> {{chosed_items.item_name}}</p>
                <p> {{chosed_items.quantity}}</p>
                {{/each}}
            </ul>
        </div>
    </div>
{{!--    
    <div class="carts2 ">
        <a href="/customer/user11/my-orders" class="checkout">PAY NOW :<span>0</span>
        </a>    
    </div>
      --}}
   
    
{{!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/fontresize.js"></script> --}}
<script>

</script>
</body>