<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
<script src="js/order.js" async></script>
<body>
    <div class="top">
        
        <a href="/order" class="previous">&#8249;</a>
        <div>
            <p>MENU</p>
            <p>Tasty Trailer</p>
        </div>
        <div>5min</div>
    </div>
    <br><br><br><br><br>
    <div class="products-container">
        <div class='products'>

        </div>
    </div>
        
          

    
   
    <div class="carts2 ">
        <a href="#" class="checkout">PAY NOW :<span>0</span>
        </a>    
    </div>
     
   
    
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/fontresize.js"></script>
<script>

</script>
</body>