<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/index.css">

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/fontresize.js"></script>

<script src="js/order.js" async></script>
<body>
    <div class="top">
        
        <a href="/customer/VAN11/order-now" class="previous">&#8249;</a>
        <div>
            <p>MENU</p>
            <p>VAN11</p>
        </div>
        <div>5min</div>
    </div>
    <br><br><br><br><br>
    <div class="products-container">
        <div class='products'>

        </div>
    </div>
   
    <div class="carts2 ">
        <a href="/customer/user11/my-orders" class="checkout">PAY NOW :<span>0</span>
        </a>    
    </div>
     
   
    
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/fontresize.js"></script>
<script>

</script>
</body>