<link rel="stylesheet" href="/css/home.css">

<div class='content-card'>
    <h2 style="text-align: center;">Click a van to Order!</h2>
    <h3 style="text-align: center;">Please share your location first, and click update to get the vans near you!</h2>


    <form method="post" action="/customer/home" id="locationform" style='text-align:center'>
        <input type="hidden" name="latitude" id="latitude" value=""/>
        <input type="hidden" name="longitude" id="longitude" value=""/>

    <button type="button" onclick="shareLoc()">Share My Location</button><input type="submit" value='Update'></button>
    </form>

    <table>
        <th>Van ID</th>
        {{#each van}}
            <tr class="li-wrap">
                <td><a style='text-decoration:none' href="/customer/{{this.van_ID}}">{{this.van_ID}}</a></td>
            </tr>
        {{/each}}
    </table>
</div>

<script>
async function shareLoc() {
    function success(position) {
        document.getElementById("latitude").value = position.coords.latitude; 
        document.getElementById("longitude").value = position.coords.longitude; 
    }

    function error() {
        status.textContent = 'Unable to retrieve your location';
    }

    await navigator.geolocation.getCurrentPosition(success, error);
}
</script>