<link rel="stylesheet" href="/css/home.css">



{{#if loggedin}}
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/customer/my-profile">My Profile</a>
    <a href="/customer/my-orders">My Order</a>
    <a href="/customer/logout">Logout</a>
    </div>  
{{else}}
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/customer/login">Log in</a>
    </div>  
{{/if}}

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<div class="vans">
    <ul>
        <li class="van-item">
            <p>A van</p>
        </li>
    </ul>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>