<link rel="stylesheet" href="/css/login.css">

<div class="content-card">
    <h2 style="text-align: center;">Log In</h2>
    <form class="login-form" action="/customer/login" method="POST">
        <label for="email" >Email address:</label>
        <input type="text" id='email' name="email" value="" placeholder="Enter your email address">
        <label for="password">Password:</label>
        <input type="text" name="password" id='password' value="" placeholder="Please enter your password">
        
        <input class='normal-button' type="submit" value="Log in">
        <a class='other-button' href="register">Don't have an account?</a>
    </form>
</div>
