

<div class="top">
    <div text-align='left'><a href="/customer/myProfile">< </a></div>
</div>


<form class = "edit-form" action = "/customer/my-profile/edit" method = "post">
    <div>
        <p>Password:</p>
        <p>
            <input name="password" id="password">
        </p>
        <p>First name:</p>
        <p>
            <input name="first_name" id="first_name">
        </p>
        <p>Last name:</p>
        <p>
            <input name="last_name" id="last_name">
        </p>
    </div>
    <p>
        <button type='submit'>Save</button>
    </p>
</form>