
<div>
    <p>Email Address:</p>
    <p>{{email}}</p>
    <p>First name:</p>
    <p>{{first_name}}</p>
    <p>Last name:</p>
    <p>{{last_name}}</p>    
</div>

<a href="/customer/my-profile/edit">Edit</a>