<link rel="stylesheet" href="/css/main.css">
<div class='content-card' style='justify-content:center'>
    <h2 style='text-align:center'>Payment Page</h2>
    <h3 style='text-align:center; font-weight:lighter'>Thank you for your purchase!</h3>
    <div style="text-align:center"><a class='normal-button' href="/customer/home">Return To Home</a></div>
</div>