<link rel="stylesheet" href="/css/main.css">
<div class='content-card'>
    <h2 style='text-align:center'>Payment page</h2>
    <h3 style='text-align:center; font-weight:lighter'>Thank you for your purchase!</h3>
    <a class='normal-button' href="/customer/home">Return To Home</a>
</div>