<link rel="stylesheet" href='/css/userOrders.css'>
<div class='content-card'>
<h2 style='text-align:center'>MY ORDERS</h2>
    <table>
        <tr><th style='text-align:left'>ORDER ID</th><th style='text-align:right; width:auto'>DATE</th></tr>
        {{#each orders}}
        <div class='details-card'>
            <tr>
                <td class = "orderID"> <a href="my-orders/{{this.order_ID}}">ORDER#{{this.order_ID}}</a></td>
                <td class = "date">{{this.when}} </td>
            </tr>
        </div>
        {{/each}}   
    </table>
     <a class="bottip" href="/customer/home" style='text-decoration: none'>ORDER NOW</a>
</div>


