<link rel="stylesheet" href="/css/main.css">
<div class='content-card' style='text-align:center'>
    <h2>Van Details</h2>
    <div style="padding:0px 0px 10px;font-size: 20px;"><p style='font-weight:bold; display:inline-block'>Van ID: </p><p style='display:inline-block'>{{this.van_ID}}</p></div>
    <a class='normal-button' href="/customer/van/{{van.van_ID}}/menu">See Menu</a>
</div>