
<div class = "top">
    <div text-align='left'><a href="/customer/home">< </a></div>
    <div>
        <p>Van detail</p>
    </div>
</div>

<div>
    <p>Van ID:</p>
    <p>{{van.van_ID}}</p>
</div>

<p>
    <a href="/customer/{{van.van_ID}}/menu">See Menu</a>
</p>