
<p>Customer Homepage (Temporary)</p>

{{#if user}}
    <p>Welcome, {{user.first_name}}!</p>
    <ul>
        <li> <a href="/VAN11/order-now">Click here to make an order with VAN11</a></li>
        <li> <a href="/my-orders">Click here to view orders</a></li>
        <li></li>Click here to logout</li>
    </ul>
{{else}}
    <p><a href="/login">Click here to login</a></p>
    <p><a href="/register">Click here to register</a></p>
{{/if}}